<footer class="footer">
  <div class="footer_content">
    <p>&copy; 2025 Au Petit Village – Tous droits réservés.</p>
    <div class="footer_social">
      <a href="https://www.facebook.com" target="_blank" aria-label="Facebook">
        <img src="../../../assets/img/facebook.png" alt="Facebook" />
      </a>
      <a href="https://www.instagram.com" target="_blank" aria-label="Instagram">
        <img src="../../../assets/img/instagram.png" alt="Instagram" />
      </a>
      <a href="https://www.twitter.com" target="_blank" aria-label="Twitter">
        <img src="../../../assets/img/twitter.png" alt="Twitter" />
      </a>
    </div>
  </div>
</footer>